<% title 'Slideshow' %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= yield(:title) %></h1>

    <p>Click the contest below that you would like to view a slideshow of.</p>

    <ul>
    <% @contests.each do |contest| %>
      <li><%= link_to contest, "/slideshow/#{contest.year}" %> - <%= pluralize(contest.winning_entries, 'winning entry') %></li>
    <% end %>
    </ul>
  </div>
</div>