<p id="entry-<%= entry.unique_hash %>" class="entry">
  <%= link_to "#{entry.user != current_user ? entry.user.name + ' - ' + entry.category.name : entry.category}", entry_confirmation_path(entry.unique_hash) %><% if entry.pending? %> (Pending)<% end %><br>
  <% if entry.category.category_type.maximum_files > 0 %>
    <small>
      <%= entry.images.length %> <%= entry.images.length == 1 ? 'image has' : 'images have' %> been uploaded for this category.
      <% if entry.images.length < entry.category.category_type.minimum_files %> Please upload your images now.<% end %>
    </small>
  <% end %>
</p>