<% title "Managed Users" %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="heading"><%= yield(:title) %></h1>

    <p>This page shows a list of users that you manage entries for. You are able to see this page because you have been given rights to add users and submit entries for them. The following is a list of users that you currently manage:</p>

    <ul id="users-list">
    <% if @users.size > 0 %>
      <% @users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    <% else %>
      <blockquote id="no-users">You do not currently have any managed users.</blockquote>
    <% end %>
    </ul>

    <h2>Add User</h2>
    <p>Use this form to add a new user for you to manage. Adding a user here will allow you to submit an entry for them on the entry page.</p>
    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" placeholder="First Name" id="first-name">
          </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" id="last-name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
            <label for="affiliation">Affiliation</label>
            <input type="text" class="form-control" placeholder="Affiliation" id="affiliation" data-original-affiliation="<%= current_user.employer %>" value="<%= current_user.employer %>">
        </div>
      </div>
    </div>

    <button id="add-user-button" type="button" class="btn btn-primary btn-lg">Add</button>

  </div>
</div>