<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="contactModalLabel">Have a problem or a question?</h4>
      </div>
      <div class="modal-body">
        <p>Please use the following text area to describe the problem or question that you have, and we will get back to you as quickly as possible.</p>

        <div class="form-group">
          <label for="problem-description">Problem Description</label>
          <textarea class="form-control" placeholder="Describe your issue or question in detail here." id="problem-description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="problem-submit">Send</button>
      </div>
    </div>
  </div>
</div>