<% if notice %>
  <div class="alert alert-info alert-dismissable" role="status">
    <button class="close" data-dismiss="alert">&times;</button>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
<div class="alert alert-danger alert-dismissable" role="status">
  <button class="close" data-dismiss="alert">&times;</button>
  <%= alert %>
</div>
<% end %>