<div id="alert-info" class="alert alert-info alert-dismissable" role="status" style="display:none">
  <button class="close" data-dismiss="alert">&times;</button>
  <p id="alert-info-message"></p>
</div>

<div id="alert-danger" class="alert alert-danger alert-dismissable" role="status" style="display:none">
  <button class="close" data-dismiss="alert">&times;</button>
  <p id="alert-danger-message"></p>
</div>
