<h1><%= @current_category %></h1>
<div class="form-group">
  <label>Category Description</label>
  <span><%= @current_category.description.html_safe %></span>
</div>
<% if @current_category.category_type.maximum_files == 1 && @entry %>
<div class="pull-right">
  <a href="/judging/entries/<%= @current_category.id %>">View all entries for this category</a>
</div>
<% end %>
<div class="form-group">
  <label>Category Type Description</label>
  <span><%= @current_category.category_type.description.html_safe %></span>
</div>