// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#category-description {
  margin: 20px;
  padding: 20px;
  font-size: 14px;
  color: #666;
  background-color: #eee;
  border-radius: 6px;
  box-shadow: 0 0 3px #bbb;
}

.entry-image {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 10px;

  img {
    margin-right: 20px;
  }
}

.modal-category {
  margin: 10px 0;
  border-bottom: 1px solid #eee;
  padding: 5px;
}