@import "../variables";

.btn-primary {
  background-color: #6A98BF;
  border: 2px solid $gray-blue-lighter;
}

.btn-success {
  background-color: #75BD75;
  border: 2px solid #5A855A;
}

.btn-danger {
  background-color: #D5615D;
  border: 2px solid #A2504D;
}

.btn-warning {
  background-color: #E8B162;
  border: 2px solid #BA863B;
}

input[type=text], input[type=email], input[type=password], textarea {
  box-shadow: none !important;
  border: 2px solid $gray-blue-lighter !important;
  border-radius: 3px !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out !important;
          transition: all 0.3s ease-in-out !important;

  &:focus {
    border: 2px solid $gray-blue-lighter !important;
    -webkit-box-shadow: 0 0 10px #999 !important;
            box-shadow: 0 0 10px #999 !important;
  }
}