@import "../variables";

.btn-primary {
  background-color: #6A98BF;
  border: 2px solid $gray-blue-lighter;
}

.btn-success {
  background-color: #75BD75;
  border: 2px solid #5A855A;
}

.btn-danger {
  background-color: #D5615D;
  border: 2px solid #A2504D;
}

.btn-warning {
  background-color: #E8B162;
  border: 2px solid #BA863B;
}

input[type=text], input[type=email], input[type=password] {
  box-shadow: none;
  border: 2px solid $gray-blue-lighter;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;

  &:focus {
    border: 2px solid $gray-blue-lighter;
    -webkit-box-shadow: 0 0 10px #999;
            box-shadow: 0 0 10px #999;
  }
}