// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#category-description {
  margin: 20px;
  padding: 20px;
  font-size: 14px;
  color: #666;
  background-color: #eee;
  border-radius: 6px;
  box-shadow: 0 0 3px #bbb;
}