$logo-dark-color: rgb(65, 64, 66);
$logo-orange: rgb(242, 103, 34); // #F26722
$navbar-height: 40px;
$navbar-default-brand-color: #FA7500;
$navbar-default-brand-hover-color: #FA7500;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: $logo-dark-color;
$font-size-base: 16px;
$background-color: #efefef;
$navbar-background-color: rgba(0,39,59,.05);
$gray-blue: rgba(0,39,59,.5);
$gray-blue-lighter: rgba(0,39,59,.3);
$gray-blue-darker: rgba(0,39,59,.65);
$link-color: #428bca;