<html>
  <head>
    <style>
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.42857;
        color: #333333;
      }
    </style>
  </head>
  <body>
    <p><img src="http://www.photojournalism.org/images/logos/atlpj_logo_circle_text-dc279d57.png" width="300"></p>

    <p>Hello <%= @resource.full_name %>,</p>

    <p>Someone has requested a link to change your password for the contest entry application. You can do this by clicking the link below.</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>If you didn't request this change, please ignore this email.</p>

    <p>Your password won't change until you access the link above and create a new one.</p>

    <p>Thanks,<br>
    The Atlanta Photojournalism Seminar</p>

    <small><em>Note: This email comes from an unmonitored mailbox, please do not reply.</em></small>
  </body>
</html>