body.judging {
  height: 100%;

	background: #333;
  color: #aaa;

  h1, h2, h3, h4 {
    margin-top: 0;
  }

  a, a:visited {
    color: #ccc;

    &:hover {
      color: #fff;
    }
  }

  hr {
    border-color: #555;
  }

  .form-group {
    margin-bottom: 0;
  }

  #sidebar-entries {
    background: #222;
    width: 17%;
    min-height: calc(100% - 52px);
    padding: 20px;
    margin-top: -20px;
    float: left;

    ul {
      margin-left: -20px;
    }

    .sidebar-entry-hash {
      cursor: pointer;
      font-family: Consolas, Monaco, monospace;
      font-size: 12px;

      &.active {
        font-weight: bold;
      }
    }
  }

  #entry-view {
    width: 83%;
    float: right;
    padding: 20px;
    margin-top: -20px;
  }

  .judging-entry-image {
    padding: 0;
    background: none;
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    float: left;
    border-radius: 3px;
    background: #444;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    -webkit-transition: width .2s, height .2s;
    -moz-transition: width .2s, height .2s;
    transition: width .2s, height .2s;
  }

  .judging-entry-single-image {
    padding: 0;
    background: none;
    width: 1000px;
    height: 667px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    float: left;
    border-radius: 3px;
    background: #444;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .modal-content {
    background: #333;
  }

  .modal-header, .modal-footer {
    border-color: #555;
  }
}

#current-caption {
  display: none;
  z-index: 999999;
  position: absolute;
  bottom: 0;
  left: 300;
  font-size: 16px;
  padding: 30px;
  margin: 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}