<h1 class="heading">Administration</h1>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'shared/admin_navigation' %>
  </div>
  <div class="col-md-10">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Order</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @places.each do |place| %>
          <tr>
            <td><%= place.name %></td>
            <td><%= place.order %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table> 
  </div>
</div>